<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="internal-nlog.txt">

  <!-- Automatically find the filename from the current dir. Removes bin\debug, bin\release, bin\debug\netcoreapp2.1\ etc. from the dir. Replace with hardcoded for special cases  -->
  <variable name="filename" value="${replace:replaceWith=$1:regex=true:inner=${basedir}:searchFor=^.*?\\\\([^\\\\]*)\\\\(bin\\\\(Debug|Release)\\\\(netcoreapp.*)?)?$}"/>

  <!-- Usually a good choice. Folder named samed as log files -->
  <variable name="folder" value="C:\logs\${filename}"/>

  <variable name="layout" value="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"/>

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${folder}\${filename}.txt"
            archiveFileName="${folder}\${filename}-{#}.txt"
			      archiveAboveSize="50000000"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            layout="${layout}" />

    <target name="ownlogfile" xsi:type="File"
            fileName="${folder}\${filename}-own.txt"
            archiveFileName="${folder}\${filename}-own-{#}.txt"
            archiveAboveSize="50000000"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            layout="${layout}" />

    <target name="logconsole" xsi:type="Console" />
    <target name="ds1" xsi:type="OutputDebugString"/>
    <target name="ds2" xsi:type="Debugger" layout="${layout}"/>
    <target name="blackhole" xsi:type="Null" />
    <!--<target type="ApplicationInsightsTarget" name="aiTarget" />-->
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="ds1" />
    <logger name="*" minlevel="Debug" writeTo="ds2" />
    <!--<logger name="*" minlevel="Info" writeTo="aiTarget" />-->
    <!-- Optional - for some apps that log all SQL requests
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownlogfile" />
	-->
  </rules>
  <!--<extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>-->
</nlog>
