<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Manage Trades</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="CreateOrder"><i class="fa fa-link"></i> <span>Create an FX Order</span></a></li>
    <li><a href="Trades"><i class="fa fa-link"></i> <span>Trades Status</span></a></li>
    <li><a href="Accounts"><i class="fa fa-link"></i> <span>Accounts</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Market Information</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="Currencies">Currencies</a></li>
            <li><a href="Prices">Prices</a></li>
        </ul>
    </li>
</ul>